@use "./colors" as colors;

//============CSS Reset==========//
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	min-height: 100vh;
	font-size: 16px;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}
ul,
ol {
	list-style: none;
}
//============CSS Reset==========//

:root {
	--btn-grad-color: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: "Josefin Sans", sans-serif;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)),
		linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}
a,
i,
button {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: #fff;
	& :visited {
		color: #fff;
	}
}
.wrapper {
	max-width: 375px;
	padding: 0;
	text-align: center;
	flex: 1 0 auto;
}

.img {
	padding: 0;
	padding-bottom: 20px;
}

header {
	& h1 {
		color: colors.$Desaturated_Red;
		text-transform: uppercase;
		padding: 0 65px;
		padding-top: 30px;
		font-weight: 300;
		font-size: 2.4rem;
		letter-spacing: 6px;
		& span {
			color: colors.$Dark_Grayish_Red;
			font-weight: 600;
		}
	}
}

main {
	padding: 10px 20px;
	color: colors.$Desaturated_Red;
	& form {
		& #floatingInput {
			position: relative;
			border: 1px solid colors.$Desaturated_Red;
			opacity: 0.4;
		}
		& label {
			margin-left: 10px;
			opacity: 0.5;
		}
		& #btn {
			position: absolute;
			top: 0;
			right: -1px;
			width: 80px;
			height: 58px;
			background: var(--btn-grad-color);
			border: none;
			cursor: pointer;
			box-shadow: 0px 20px 10px colors.$Desaturated_Red_semi_transparent;
			& img {
				transform: translate(300%);
			}
		}
	}
}

#desktopImg {
	display: none;
}
#mainContainer {
	padding: 0;
	margin: 0;
}
#textForm {
	max-width: 450px;
}
#errorIcon {
	position: absolute;
	top: 20%;
	right: 30%;
}
#errorText {
	text-align: left;
}

//=====================Footer================//
.footer {
	padding: 0.5rem;
	width: 100%;
	color: #ddd;
	// background-color: colors.$Dark_Blue;
	font-size: 0.7rem;
	& .attribution {
		text-align: center;
		& a {
			text-decoration: none;
			color: #ddd;
			&:visited {
				color: #ddd;
			}
		}
	}
}
//=====================Footer================//

//=====================Media================//
@media (min-width: 1200px) {
	.wrapper {
		max-width: 1440px;
	}

	header {
		& h1 {
			display: block;
			width: 300px;
			padding: 0;
			font-size: 3rem;
			letter-spacing: 8px;
		}
	}
	main {
		padding-left: 0;
	}
	#bigImg {
		margin: 0;
		padding: 0;
	}
	#textContent {
		background-image: url(../images/bg-pattern-desktop.svg);
		background-size: cover;
	}
	#errorIcon {
		position: absolute;
		right: 20%;
		top: 35%;
		transform: translate(0, -50%);
	}
}
//=====================Media================//
